.card {
  font-size: 14px;
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px 5px;
  perspective: 1000px;
}

.card__front,
.card__back {
  border-radius: 8px;
  border: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  transition: transform 0.5s;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card__front {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card__back {
  background-color: #cfd8dc;
  transform: rotateY(180deg);
}

.card:hover .card__front {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.card:hover .card__back {
  transform: rotateY(360deg);
  transition: transform 0.5s;
}
