.tournament-list {
  padding: 0;
}

.tournament__title {
  margin-left: 20px;
}

.tournament {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.5s;
  color: inherit;
}

.tournament:hover {
  background: var(--bg-item-hover);
  transition: 0.5s;
}

.tournament:active {
  background-color: #ffc400;
}

.tournament-img__wrap {
  width: 65px;
}

.tournament__img {
  width: 100%;
  display: block;
}

.tournament__name {
  font-size: 24px;
  margin-left: 20px;
}
